.section-pix {
  background: #8A05BE;

  .pix {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 40px 10px;

    &_text {
      margin-bottom: 40px;

      h3 {
        color: white;
        font-weight: bold;
      }
    }

    &_img {
      align-items: center;
      display: flex;
      justify-content: center;
      margin-bottom: 40px;

      img {
        width: 60%;
      }
    }

    &_board {
      align-items: center;
      background-color: white;
      border-radius: 20px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 30px 25px;

      &_label {
        margin: 50px 0;
        position: relative;
        width: 100%;

        &_input {
          background-color: transparent;
          border: none;
          border-bottom: 2px solid #ccc;
          outline: none;
          padding: 5px;
          transition: all 0.2s;
          width: 100%;
          font-size: 20px;

          &:hover, &:focus {
            border-bottom: 2px solid rgb(95, 93, 93);
          }

          &:focus ~ .pix_board_label_placeholder, &:valid ~ .pix_board_label_placeholder {
            left: -10px;
            top: -16px;
            transform: scaleY(0.7) scaleX(0.7);
          }
        }

        &_placeholder {
          left: 2%;
          position: absolute;
          top: 20%;
          transition: all 0.3s;
          color: rgb(145, 145, 145);
          font-weight: bold;
          pointer-events: none;
        }
      }
    }
  }
}

@media (min-width: 1024px) {
  .section-pix {
    .pix {
      padding: 120px 40px;
      flex-direction: row;

      &_text {
        margin: 0;
        width: 60%;

        h3 {
          font-size: 50px;
        }
      }

      &_img {
        margin: 0;

        img {
          width: 90%;
        }
      }

      &_board {
        padding: 25px 30px;
        margin-left: 100px;

        h5 {
          font-weight: bold;
          font-size: 25px;
        }

        &_label {
          &_placeholder {
            left: 0;
            top: 0;
          }
        }
      }
    }
  }
}