.link-content {
  width: 100%;
  margin-top: 15px;

  &_button {
    align-items: flex-start;
    color: white;
    display: flex;
    flex-direction: column-reverse;
    position: relative;
    width: fit-content;

    span {
      font-weight: bold;
      font-size: 18px;

      svg {
        margin-left: 6px;
      }
    }

    &::after {
      background: white;
      bottom: 8%;
      content: '';
      height: 2px;
      position: absolute;
      transform-origin: bottom left;
      transform: scaleX(0);
      transition: all 0.25s;
      visibility: hidden;
      width: 100%;
    }

    &:hover {
      color: white;
      text-decoration: none;

      &::after {
        transform: scaleX(1.01);
        visibility: visible;
      }
    }

    &--benefit, &--account {
      color: #A33BCC;

      &:hover {
        color: #A33BCC;

        &::after {
          background: #A33BCC;
        }
      }
    }

    &--account, &--white {
      svg {
        transform: rotate(-45deg);
        margin-bottom: 8px;
      }
    }
  }
}

@media (min-width: 1024px) {
  .link-content {
    &_button {
      span {
        font-size: 20px;
      }

      svg {
        width: 18px;
        height: 18px;
      }
    }
  }
}